* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

.app {
  width: 1200px;
  height: 800px;
  margin: 20px auto;
  background-color: #fff8f7;
  align-items: center;
  position: relative;
}
.weather-control {
  background-color: #f77361;
  color: #fff8f7;
  align-items: center;
  margin: 2%;
  width: 40%;
  height: 90%;
  position: absolute;
  padding-top: 126px;
  padding-left: 35px;
  border-radius: 16px;
}
.weather-control h1 {
  font-size: 64px;
}
h3 {
  cursor: pointer;
}
.weather-info {
  position: absolute;
  height: 89%;
  color: #65b6bc;
  width: 300px;
  right: 20%;
  top: 7%;
}
